/* Root Variables */
:root {
  --primaryColor: #3accf9;
  --secondaryColor: #fe3f98;
  --darkBlue: #213848;
  --darkGray: #323232;
  --lightGray: #e5e5e5e0;
  --bg-blue: #2e526b;
}
/* Fonts */
.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fdfdff;
}
.bg-lightGray {
  background-color: var(--lightGray);
}
.search-field,
.search-field-cont {
  transition: all 300ms ease-in-out;
}
.search-field:focus {
  outline: none;
  box-shadow: none;
  /* width: 180px;
  transition: all 300ms ease-in-out; */
}
.cart-counter {
  position: absolute;
  background: var(--secondaryColor);
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  right: -9px;
}

._categories_box a {
  display: block;
  text-decoration: none;
  color: #333;
}
._categories_box h3 {
  font-size: 16px;
  margin-top: 10px;
}
._banner {
  background-image: url("../images/banner-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
}
.btn-secondary {
  background-color: var(--secondaryColor);
  color: #fff;
  border-color: var(--secondaryColor);
  padding: 10px 2.2rem;
}

.btn-secondary:hover {
  background-color: transparent;
  border-color: var(--secondaryColor);
  color: var(--darkBlue);
}
.btn-primary {
  background-color: var(--primaryColor);
  color: #fff;
  border-color: var(--primaryColor);
  padding: 10px 2.2rem;
}
.btn-primary:hover {
  background-color: transparent;
  border-color: var(--primaryColor);
  color: var(--darkBlue);
}
._banner-img {
  position: relative;
  right: -65px;
}

.banner-text h1 {
  font-size: 60px;
}

.product-card {
  border: 0px solid #ddd;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}
.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  width: 100%;
}
.product-card .card-body {
  padding: 10px;
}

.product-carrousel .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
  margin-top: 0;
}
.product-carrousel .owl-nav > button {
  background-color: #d7dce3 !important;
  border-radius: 50% !important;
  width: 46px;
  height: 46px;
}
.product-carrousel .owl-nav > button button:hover {
  background: transparent !important;
}

.sale-tag {
  top: 12px;
  left: 12px;
  background: var(--primaryColor);
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
}
.product-img-btn {
  top: 12px;
  right: 12px;
  background: white;
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-view {
  top: 55px;
}

.text-darkBlue {
  color: var(--darkBlue);
}

.product-excerpt {
  color: #2e526b;
}
.text-primary {
  color: var(--primaryColor) !important;
}

.btn-outline-primary {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}
.btn-outline-primary:hover {
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
  color: #fff;
}
.btn-outline-secondary {
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
}
.btn-outline-secondary:hover {
  border-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
  color: #fff;
}

.user-reviews {
  background-color: #f4f7fa;
}

.user-reviews .play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review-txt {
  bottom: 12px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.rev-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.promises-cont {
  min-height: 530px;
  position: relative;
  margin-top: -100px;
}
.promises-curve {
  position: absolute;
}
.promise-box-cont {
  display: flex;
  justify-content: space-around;
}
.promise-box-cont .promise-box {
  width: 280px;
  position: relative;
}
.promise-box.promise1 {
  top: 250px;
}
.promise-box-cont .promise-box .promise-no {
  position: absolute;
  right: 0;
  top: 0;
}
.promise-box.promise2 {
  top: 164px;
}
.promise-box.promise3 {
  top: -24px;
}
.promise-box-cont .promise-box .rect-icn {
  margin-bottom: 20px;
}
.couples-cont {
  background-color: var(--bg-blue);
  color: #fff;
}
.couples-txt {
  width: 300px;
  margin: 40px;
}
.inner-div {
  justify-content: space-between;
  align-items: center;
}
.couples-images .curve {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.couples-images .curve img {
  width: 100%;
}
.couple-img {
  position: relative;
  z-index: 2;
}
.mens-collection {
  position: relative;
}
.mens-collection ._txt {
  width: 255px;
}
.mens-collection ._txt h3 {
  font-size: 24px;
}
.mens-collection ._img img {
  width: 96%;
}
.mens-collection ._img {
  margin-top: -60px;
  text-align: center;
}
.womens-collection {
  display: flex;
  align-items: center;
}
.womens-collection ._txt {
  width: 300px;
  margin-left: 40px;
}
.other-collections p {
  font-size: 14px;
}
.other-collections h3 {
  font-size: 24px;
}
.womens-collection img {
  width: 100%;
}
.under-19 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-box {
  text-align: center;
}
.feature-box ._img {
  background-color: var(--primaryColor);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 20px;
  border: 10px solid rgba(194, 238, 254, 1);
  padding: 10px;
}
.feature-box h4 {
  font-size: 20px;
}
.testimonials {
  background-color: #f4f7fa;
}

.main-footer {
  background-color: #1a2033;
  color: #fff;
  margin-top: 4pc;
  padding: 120px 0 40px 0;
}
.main-footer a {
  text-decoration: none;
  color: #fff;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links h4,
.subscribe h4 {
  font-size: 18px;
  font-weight: 600;
}
.footer-links ul a {
  font-size: 14px;
  font-weight: 400;
}

.footer-links ul li {
  line-height: 30px;
}
.subscribe p {
  font-size: 14px;
}
.copy-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-cont p {
  margin-bottom: 0;
}
.socio {
  display: flex;
  gap: 10px;
}

.bg-primary {
  background-color: var(--primaryColor) !important;
}
.bg-secondary {
  background-color: var(--secondaryColor) !important;
}
.bg-blue {
  background-color: var(--bg-blue);
}
.text-secondary {
  color: var(--secondaryColor) !important;
}
.faqs .accordion-button {
  background: transparent;
}
.faqs .accordion-item {
  border: 0;
  border-radius: 0;
  border-top: 1px solid #ddd;
}
.faqs .accordion-button {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}
.faqs .accordion-collapse .accordion-body {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.input-group .btn-secondary {
  padding: 10px 1.3rem;
}
header .nav {
  flex: 0 0 auto !important;
}
.search-form {
  width: 350px;
}
.inner_banner ._banner-img {
  position: relative;
  right: 0;
}
.cat-tabs .nav-tabs {
  border-bottom: 0;
}
.cat-tabs .nav-tabs .nav-link {
  border: 1px solid #d9d9d9;
  border-radius: 0;
  color: #333;
  min-width: 150px;
}
.cat-tabs .nav-tabs .nav-link.active {
  background: var(--secondaryColor);
  color: #fff;
}
.breadcrumbs {
  background: #fafafa;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, ">");
}
._price-cont ._price {
  font-size: 24px;
}
.color-swatches {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.color-swatches a {
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.buy-now-cont {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.buy-now-cont .other-btns {
  display: flex;
  gap: 15px;
}
.buy-now-cont .other-btns .shp-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}
.user-reviews.product-overview img {
  width: 100%;
}
.user-reviews.product-overview .review-txt {
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  bottom: 2px;
}
.product-details-tabs .nav-link {
  width: 190px;
  border: 0;
  color: #000;
}
.product-details-tabs .nav-link.active {
  border-bottom: 2px solid var(--secondaryColor);
}
.how-we-do .item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 30px 15px;
  border: 1px solid #dce2eeb5;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
}
.how-we-do .item-box h4,
.how-we-do .item-box p {
  margin-bottom: 0;
}
.how-we-do .item-box:hover {
  border-color: transparent;
  border-bottom: 3px solid var(--secondaryColor);
  box-shadow: 0px 9.31px 55.83px 0px #262d7614;
}

/* Pricing Table */

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e4e1e1;
}

th,
td {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.45;
  color: #444;
  vertical-align: middle;
  padding: 1em;
}
th {
  font-weight: 600;
}

colgroup:nth-child(1) {
  width: 31%;
  border: 0 none;
}
colgroup:nth-child(2) {
  width: 22%;
  border: 10px solid var(--primaryColor);
}
colgroup:nth-child(3) {
  width: 25%;
  border: 0px solid var(--primaryColor);
}
colgroup:nth-child(4) {
  width: 22%;
  border: 0px solid #ccc;
}
colgroup:hover {
  border: 10px solid var(--primaryColor);
}

/* Tablehead */

thead th {
  background: transparent;
  border: 0;
  text-align: center;
  position: relative;
  border-bottom: 0px solid #ccc;
  padding: 3em 0 2em;
  font-weight: 400;
  color: #999;
}
thead th:nth-child(1) {
  background: transparent;
}
thead th:nth-child(3) {
  padding: 2em 0 5em;
}
thead th h2 {
  font-weight: 300;
  font-size: 2.4em;
  line-height: 1.2;
  color: #59c7fb;
}
thead th h2 + p {
  font-size: 1.25em;
  line-height: 1.4;
}
thead th:nth-child(3) h2 {
  font-size: 3.6em;
}
thead th:nth-child(3) h2 + p {
  font-size: 1.5em;
}

thead th p.promo {
  font-size: 1em;
  color: #fff;
  position: absolute;
  top: 9em;
  left: -17px;
  z-index: 1000;
  width: 100%;
  margin: 0;
  padding: 0.625em 17px 0.75em;
  background: #c00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #900;
}

thead th p.promo:before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 7px 7px 0;
  border-color: transparent #900 transparent transparent;
  bottom: -7px;
  left: 0;
}
thead th p.promo:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 7px 0 0;
  border-color: #900 transparent transparent transparent;
  bottom: -7px;
  right: 0;
}

/* Tablebody */

tbody th {
  background: #fff;
  border-left: 1px solid #ccc;
}
tbody th span {
  font-weight: normal;
  font-size: 87.5%;
  color: #999;
  display: block;
}

tbody td {
  background: #fff;
  text-align: center;
}

tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
}
tbody tr:last-child td {
  border-bottom: 0 none;
}

/* Tablefooter */

tfoot th {
  padding: 2em 1em;
  border-top: 1px solid #ccc;
}
tfoot td {
  text-align: center;
  padding: 2em 1em;
  border-top: 1px solid #ccc;
}

tfoot a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.125em 2em;
  background: #59c7fb;
  border-radius: 0.5em;
}

/* Pricing Table */

/* Responsive */
@media (max-width: 1400px) {
  .promise-box.promise3 {
    top: 77px;
  }
  .promise-box.promise2 {
    top: 180px;
  }
  .womens-collection ._txt {
    padding: 20px 0;
  }
  .womens-collection ._img {
    align-self: end;
  }
  .mens-collection ._img img {
    width: 100%;
  }
  .mens-collection ._img {
    margin-top: -6px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  ._stars img {
    width: 12px;
  }
  .rev-count {
    font-size: 12px;
  }
  .product-excerpt {
    font-size: 14px;
  }
  ._banner {
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
  }
  ._banner-img img {
    width: 100%;
    max-width: 500px;
  }
  ._banner-img {
    position: relative;
    right: 0;
    width: 100%;
    text-align: center;
  }
  .banner-text.ps-5 {
    padding-left: 0px !important;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .promises-curve svg {
    width: 100%;
  }
  .promise-box.promise3 {
    top: 120px;
  }
  .promise-box.promise1 {
    top: 224px;
  }
  .couples-images {
    align-self: end;
  }
  .couple-img img {
    width: 100%;
  }
  .lgbt ._img img {
    width: 80%;
  }
  .mens-collection ._img {
    margin-top: 0;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .promises-curve {
    position: absolute;
    display: none;
  }
  .promise-box-cont {
    flex-direction: column;
  }
  .promise-box-cont .promise-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    box-shadow: inset 9px 8px 58px #ccc;
    padding: 15px;
    border-radius: 4px;
  }
  .promise-box-cont .promise-box .promise-no {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .promise-box.promise1,
  .promise-box.promise2,
  .promise-box.promise3 {
    top: 0;
  }
  .promises-cont {
    min-height: auto;
    position: relative;
    margin-top: 40px;
  }
  .couples-txt {
    width: 100%;
    margin: 40px;
    text-align: center;
    padding: 10px;
  }
  .couples-cont .inner-div {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .couples-cont {
    background-color: var(--bg-blue);
    color: #fff;
    max-width: 100%;
    border-radius: 0 !important;
  }
  .lgbt ._img img {
    width: 100%;
  }
  .search-form {
    width: 100%;
  }
  #navbarToggle {
    position: absolute;
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    flex-direction: column;
    align-items: baseline;
    top: 30px;
    right: 0;
    border-radius: 5px;
  }
  #navbarToggle > li > a {
    color: #fff !important;
  }
}
@media (max-width: 768px) {
  .under-19 {
    padding-bottom: 20px;
  }
  .main-footer {
    padding: 60px 0 40px 0;
  }
  .copy-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .main-footer .row {
    gap: 20px;
    text-align: center;
  }
  .cat-tabs .nav-tabs {
    border-bottom: 0;
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  ._banner {
    border-radius: 0;
  }
  .product-carrousel .owl-nav img {
    width: 16px;
  }
  .product-carrousel .owl-nav > button {
    background-color: #d7dce3 !important;
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
  }
  .product-carrousel .owl-nav {
    top: 8px;
    position: relative;
  }
}
